@model IEnumerable<BibleMemorySystem.Models.Verse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="VerseLifeCycle">Set Verses</a> |
</p>
<p>
    <a asp-action="VerseNotificationCycle">Send Verses</a> |
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Number")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayName("Started")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            var verseCounter = 1;
        }
        @foreach (var item in Model.OrderBy(i => i.StartDate))
        {
            <tr>
                <td>
                    @verseCounter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            verseCounter++;
        }
    </tbody>
</table>
